Classifique o tipo e escala de todas as variáveis da base de dados (numéricos e categóricos)

In [2]:
import pandas as pd
import chardet
with open('seguro_de_vida.csv', 'rb') as f:
  data = f.read()

  encoding_result = chardet.detect(data)
  encoding = encoding_result['encoding']
print("detected Encoding:", encoding)

detected Encoding: ascii

Salvar a tabela de seguros em variável

In [3]:
# Carregando dados
dados = pd.read_csv('seguro_de_vida.csv', encoding=encoding, sep=',')

In [4]:
print(dados.head())  # Mostra as primeiras 5 linhas do DataFrame
print(dados.info())  # Mostra informações sobre o DataFrame

   idade       sexo     imc  filhos fumante    regiao     despesas
0     19   feminino  27.900       0     sim  sudoeste  16884.92400
1     18  masculino  33.770       1     nao   sudeste   1725.55230
2     28  masculino  33.000       3     nao   sudeste   4449.46200
3     33  masculino  22.705       0     nao  noroeste  21984.47061
4     32  masculino  28.880       0     nao  noroeste   3866.85520
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   idade     1338 non-null   int64
 1   sexo      1338 non-null   object
 2   imc       1338 non-null   float64
 3   filhos    1338 non-null   int64
 4   fumante   1338 non-null   object
 5   regiao    1338 non-null   object
 6   despesas  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

A base possui valores faltantes (missing values)?

In [5]:
dados.isnull().sum()

idade       0
sexo        0
imc         0
filhos      0
fumante     0
regiao      0
despesas    0
dtype: int64

A Base de Dados não tem valores faltantes

Informe as medidas descritivas das variáveis numéricas da base de dados (média, mediana, desvio padrão, quartis).

In [6]:
# Exibir as estatísticas descritivas das variáveis numéricas
dados_descritivos_numericos = dados.describe()
print(dados_descritivos_numericos)

# Dados que não podem ser convertidos para numéricos viram NaN.
dados = dados.apply(pd.to_numeric, errors='coerce')

# Calcular a média
media = dados.mean()
print("Média de cada variável numérica:")
print(media)

# Calcular a mediana
mediana = dados.median()
print("\nMediana de cada variável numérica:")
print(mediana)

# Calcular o desvio padrão
desvio_padrao = dados.std()
print("\nDesvio padrão de cada variável numérica:")
print(desvio_padrao)

# Calcular os quartis (25%, 50%, 75%)
quartis = dados.quantile([0.25, 0.50, 0.75])
print("\nQuartis de cada variável numérica (25%, 50% - mediana, 75%):")
print(quartis)

             idade          imc       filhos      despesas
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010
Média de cada variável numérica:
idade          39.207025
sexo                 NaN
imc            30.663397
filhos          1.094918
fumante              NaN
regiao               NaN
despesas    13270.422265
dtype: float64

Mediana de cada variável numérica:
idade         39.000
sexo             NaN
imc           30.400
filhos         1.000
fumante          NaN
regiao           NaN
despesas    9382.033
dtype: float64

Desvio padrão de cada variável numérica:
idade          14.049960
sexo                 NaN
imc             6.098187
filhos          1.205493
fumante              NaN
regiao               NaN
despesas    12110.011237
dtype: float64

Quartis de cada variável numérica (25%, 50% - mediana, 75%):
      idade  sexo       imc  filhos  fumante  regiao      despesas
0.25   27.0   NaN  26.29625     0.0      NaN     NaN   4740.287150
0.50   39.0   NaN  30.40000     1.0      NaN     NaN   9382.033000
0.75   51.0   NaN  34.69375     2.0      NaN     NaN  16639.912515

Informe as medias descritivas das variáveis categóricasda base de dados. Use o comando dados.describe(include=object)

In [9]:
# Verificando as colunas categóricas uma por uma
for coluna in ['sexo', 'fumante', 'regiao']:
    if coluna in dados.columns and dados[coluna].dtype == 'object':
        print(f"Descrição da coluna '{coluna}':")
        print(dados[coluna].describe())
        print("\n")
    else:
        print(f"A coluna '{coluna}' não é categórica ou não existe no DataFrame.")

A coluna 'sexo' não é categórica ou não existe no DataFrame.
A coluna 'fumante' não é categórica ou não existe no DataFrame.
A coluna 'regiao' não é categórica ou não existe no DataFrame.

Qual o número de filhos mais frequente na base de dados?

In [ ]:
# Encontrar o número de filhos mais frequente (moda)
filhos_mais_frequente = dados['filhos'].mode()[0]
print(f"Número de filhos mais frequente na base de dados: {filhos_mais_frequente}")

Número de filhos mais frequente na base de dados: 0

Qual o percentual de clientes fumantes na base de dados?

In [ ]:
# 1. Contar o número total de clientes fumantes ("sim").
# 2. Dividir esse valor pelo número total de clientes e multiplicar por 100 para obter o percentual.

# Número total de clientes
total_clientes = len(dados)

# Número de clientes fumantes
total_fumantes = len(dados[dados['fumante'] == 'sim'])

# Percentual de fumantes
percentual_fumantes = (total_fumantes / total_clientes) * 100
print(f"Percentual de clientes fumantes: {percentual_fumantes:.2f}%")

Percentual de clientes fumantes: 0.00%

Quantas categorias há na variável região? Informe a quantidade de cada categoria. Use o comando dados[‘regiao’].value_counts()

In [ ]:
# Contar quantas categorias existem na variável 'região' e a quantidade de cada uma
contagem_regioes = dados['regiao'].value_counts()
print(contagem_regioes)

Series([], Name: count, dtype: int64)